<div class="row">

  <div class="column">
    <% site.pages.filter(function(page) { %>
      <% if (page.title == 'summary') { %>
        <div class="summary-content">
          <%- page.content %>
        </div>
        <% } %>
    <% }) %>
  </div>

  <p class="summary"><%= theme.summary %></p>

</div>

<h1>Recent Posts</h1>

<div class="recent_posts">
<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>
</div>

<a id="all_posts" href="<%= config.root %>archives">All Posts</a>
