<div class="row mt-2">
  <% if (theme.footer) { %>
    <div class="eight columns">
      <p id="madewith">Made with
        <i class="icon-heart"></i>
        and
        <a class="footer-link icon" href="https://hexo.io" target="_blank" style="text-decoration: none;" rel="noreferrer" aria-label="Hexo.io">
          <i class="icon-hexo"></i>
        </a>
        <% if (theme.placename && theme.placelink) { %>
        at <a href="<%- theme.placelink %>" target="_blank" rel="noreferrer"><%- theme.placename %></a>.</p>
        <% } %>
    </div>

    <div class="four columns mb-3" >
      <% if (theme.github) { %>
      <a class="ml-0 footer-link icon" href="<%- theme.github %>" target="_blank" style="text-decoration: none" rel="noreferrer" aria-label="GitHub">
        <i class="icon-github"></i>
      </a>
      <% } %>

      <% if (theme.linkedin) { %>
      <a class="ml-0 footer-link icon" href="<%- theme.linkedin %>" target="_blank" style="text-decoration: none" rel="noreferrer" aria-label="LinkedIn">
        <i class="icon-linkedin"></i>
      </a>
      <% } %>

      <% if (theme.medium) { %>
      <a class="ml-0 footer-link icon" href="<%- theme.medium %>" target="_blank" style="text-decoration: none" rel="noreferrer" aria-label="Medium">
        <i class="icon-medium"></i>
      </a>
      <% } %>

    </div>
  <% } %>
</div>
