---
import { Icon } from 'astro-icon';
import { platforms } from '@linksStorage';

export interface Props {
    getAll?: boolean;
    name?: string;
    isText?: boolean;
    styles?: string;
}

const { getAll = false, name = 'GitHub', isText = false, styles = '' } = Astro.props;

const platform = platforms.find(platform => ( platform.name === name ))!;
---

{ getAll && (
    platforms.map(platform => (
        <li class={styles}>
            { !isText && (
                <Icon class="inline-block mx-2 mb-1" name={platform.icon} size="20" />
            )}
            <a href={platform.url} target="_blank">{platform.name}</a>
        </li>
    ))
)}

{ !getAll && (
    <li class={styles}>
        { !isText && (
            <Icon class="inline-block mx-2 mb-1" name={platform.icon} size="20" />
        )}
        <a href={platform.url} target="_blank">{platform.name}</a>
    </li>
)}
