---
const username = 'bandantonio';
const platforms = [
	{
		name: 'GitHub',
		url: `https://github.com/${username}`,
		icon: 'ri:github-fill'
	},
	{
		name: 'LinkedIn',
		url: `https://www.linkedin.com/in/${username}`,
		icon: 'ri:linkedin-box-fill'
	},
	{
		name: 'Medium',
		url: `https://${username}.medium.com`,
		icon: 'ph:medium-logo-fill'
	},
];
---

<ul class="flex justify-center mb-1 space-x-4">
	{
		platforms.map((platform) => (
			<li class="inline-block hover:text-mg-accent"><a target="_blank" href={platform.url}>{platform.name}</a></li>
		))
	}
</ul>
