---
import type { MarkdownLayoutProps } from 'astro';
import type { BlogPostFrontmatter } from '@types';
import { Icon } from "astro-icon";

import BaseLayout from './BaseLayout.astro';
import GoHomeArrow from '@components/GoHomeArrow.astro';
import { hashnode } from '@linksStorage';

import { formatDate } from '@utils';

type Props = MarkdownLayoutProps<BlogPostFrontmatter>;

const { frontmatter } = Astro.props;
const postfolder = frontmatter.url!.split('/')[2];
---

<BaseLayout title={frontmatter.title}>
	<div class="text-center">
		<GoHomeArrow getBackTo="/blog" title={frontmatter.title} />
		<small class="text-slate-400"
			>Written by Antonio • {formatDate(frontmatter.date)}</small
		>
		<small class="block">
		{ frontmatter.hashnode && (
			<a href={`${hashnode.url}/${frontmatter.hashnode}`} target="_blank">
				<Icon class="inline-block mx-auto my-2" name={hashnode.icon} size="14" />
			</a>
		)}
		</small>

		<hr class="my-4 mx-auto w-20 border-t-2 border-mg-accent" />

	</div>
	<article
		class="prose
		prose-invert
		mx-auto
		px-6
		mb-12
		prose-headings:text-mg-accent
		prose-a:text-mg-blue
		prose-a:no-underline
		hover:prose-a:underline
		prose-code:text-mg-red
		prose-blockquote:border-sky-700
		prose-img:rounded-lg
		prose-img:mx-auto
		max-w-xs
		sm:max-w-sm
		md:max-w-md
		lg:max-w-lg
		xl:max-w-xl
		"
	>
		{frontmatter.img && (
			<img
				class="rounded-lg"
				src={`/images/${postfolder}/${frontmatter.img}`}
				alt="image"
			/>
		)}
		<div class="border-b-2 border-solid border-mg-accent w-0 fixed top-0 left-0" id="progress"></div>
		<slot />

		<div class="text-center mt-14"><a href="/blog">← Back to blog</a></div>
	</article>
</BaseLayout>

<script>
	let bar = document.querySelector('#progress') as HTMLElement;
	window.addEventListener('scroll', () => {
		let max = document.body.scrollHeight - innerHeight
		bar.style.width = `${(scrollY / max) * 100}%`;
	});
</script>
